name: ci-backend

on:
  pull_request:
    branches: ["master", "development"]
  push:
    branches: ["development"]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "21"
          cache: maven

      - name: Test
        run: mvn -B test
